*.o
*.dSYM
.DS_Store
resource_dasm
render_bits
bt_render
dc_dasm
ferazel_render
harry_render
hypercard_dasm
infotron_render
macski_decomp
mohawk_dasm
mshines_render
realmz_dasm
sc2k_render
step_on_it_render
libresource_dasm.a
