# Finder files (macOS)
.DS_Store

# Build products
libresource_file.a
ferazel_render
gamma_zee_render
harry_render
hypercard_dasm
infotron_render
lemmings_render
macski_decomp
m68kexec
mshines_render
realmz_dasm
render_bits
render_sprite
resource_dasm

# CMake files
CMakeCache.txt
CMakeFiles
Makefile
CTestTestFile.cmake
Testing
cmake_install.cmake
install_manifest.txt
